{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/galeries.css' %}">
<div class="header-galerie" style="background-image: url('{{ galerie.get_background_photo_url }}')">
    <div class="text-header-gaelerie">
        {{ galerie.titre}}
    </div>
    
</div>

<div class="container">
    <div class="row">
        {% for galerie_image in galeries_images %}
            <div class="col-md-4  ">
                <div class="card-galerie">
                     <img class="img-fluid" src="{{galerie_image.get_photo_url}}" alt="">
                </div>
            </div>
        {% endfor %}
    </div>
   

</div>

{% endblock %}